#inserted{
  height: 400px;
  background-color: transparent;
  margin: auto;
  width: 50%;
  border: 3px transparent;
  padding: 10px;
  display: block;
  position: fixed;
  top: 30%;
  left: 35%;
  margin-top: -50px;
  margin-left: -100px;
  z-index: 1000;
}
